html {
    /*background-color: #0D0D0E;*/
    background-color: #000000;
    color: #DEDEE0;
    font-family: monospace;
    font-size: 12pt;
    max-width: 600px;
    margin: auto;
}

p {
    margin-left: 50px;
}

a:link { 
    /*color: #7A002B;*/
    color: #DEDEE0; 
}

a:visited { 
    /*color: #4F4F4F;*/
    text-decoration: line-through; 
}

table {
    border: 1px solid #DEDEE0;
    border-collapse: collapse;
}

table td { 
    border-left: 1px solid #DEDEE0; 
}

div.notice {
    font-size: 12pt; 
    font-style: italic;
    color: #7A002B;
}

blockquote {
    border-left: 3px solid #DEDEE0;
    padding-left: 1em;
    margin-left: 1em;
}

